XmlToSqlXSD/XmlFormat.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="shoppingList">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="item" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:attribute name="field" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="dataVolumeGPRSDownlink"/>
						<xs:enumeration value="servedMSISDN"/>
						<xs:enumeration value="recordType"/>
						<xs:enumeration value="dataVolumeGPRSUplink"/>
						<xs:enumeration value="chChSelectionMode"/>
						<xs:enumeration value="nodeID"/>
						<xs:enumeration value="recordSequenceNumber"/>
						<xs:enumeration value="apnSelectionMode"/>
						<xs:enumeration value="pdpType"/>
						<xs:enumeration value="duration"/>
						<xs:enumeration value="qosNegotiated"/>
						<xs:enumeration value="sgsnPLMNIdentifier"/>
						<xs:enumeration value="recordOpeningTime"/>
						<xs:enumeration value="chargingCharacteristics"/>
						<xs:enumeration value="causeForRecClosing"/>
						<xs:enumeration value="changeCondition"/>
						<xs:enumeration value="accessPointNameNI"/>
						<xs:enumeration value="chargingID"/>
						<xs:enumeration value="localSequenceNumber"/>
						<xs:enumeration value="servedIMSI"/>
						<xs:enumeration value="changeTime"/>
						<xs:enumeration value="ggsnAddress"/>
						<xs:enumeration value="servedPDPAddress"/>
						<xs:enumeration value="dynamicAddressFlag"/>
						<xs:enumeration value="sgsnAddressE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="format" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Hex2CauseForRecClosing"/>
						<xs:enumeration value="hextotime"/>
						<xs:enumeration value="hextodec"/>
						<xs:enumeration value="Hex2CallEventRecordType"/>
						<xs:enumeration value="hextoqos"/>
						<xs:enumeration value="hextostr"/>
						<xs:enumeration value="Hex2APNSelectionMode"/>
						<xs:enumeration value="hextohex"/>
						<xs:enumeration value="Hex2ChangeCondition"/>
						<xs:enumeration value="hextomsdn"/>
						<xs:enumeration value="hextoimsi"/>
						<xs:enumeration value="hextoip"/>
						<xs:enumeration value="Hex2ConsolidationResult"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="message" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="newtext" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="path" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="messageCONTEXT_28CONTEXT_0"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_3"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_5"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_7"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_8"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_4CONTEXT_0"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_12SEQUENCECONTEXT_2"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_12SEQUENCECONTEXT_3"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_12SEQUENCECONTEXT_4"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_12SEQUENCECONTEXT_5"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_12SEQUENCECONTEXT_6"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_6CONTEXT_0"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_20"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_21"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_22"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_23"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_24"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_27"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_9CONTEXT_0CONTEXT_0"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_11"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_13"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_14"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_15"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_17"/>
						<xs:enumeration value="messageCONTEXT_28CONTEXT_18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
