XmlToSqlCsharp/Asn1OutXml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="CONTEXT_21" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="CONTEXT_28" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SEQUENCE">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="CONTEXT_2"/>
						<xs:element ref="CONTEXT_3"/>
						<xs:element ref="CONTEXT_4"/>
						<xs:element ref="CONTEXT_5"/>
						<xs:element ref="CONTEXT_6"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="CONTEXT_1"/>
						<xs:element ref="CONTEXT_4"/>
						<xs:element ref="CONTEXT_5"/>
						<xs:element ref="CONTEXT_6"/>
						<xs:element ref="CONTEXT_8"/>
						<xs:element ref="CONTEXT_9"/>
						<xs:element ref="CONTEXT_10"/>
						<xs:element ref="CONTEXT_11" minOccurs="0"/>
						<xs:element ref="CONTEXT_12"/>
						<xs:element ref="CONTEXT_13"/>
						<xs:element ref="CONTEXT_14"/>
						<xs:element ref="CONTEXT_17"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_9">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="CONTEXT_0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_8">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_7">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_6">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="CONTEXT_0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_5">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_4">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="CONTEXT_0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_34">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="SEQUENCE" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_32">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_31">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_3">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_29">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_28">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="CONTEXT_0"/>
					<xs:element ref="CONTEXT_3"/>
					<xs:element ref="CONTEXT_4"/>
					<xs:element ref="CONTEXT_5"/>
					<xs:element ref="CONTEXT_6"/>
					<xs:element ref="CONTEXT_7"/>
					<xs:element ref="CONTEXT_8"/>
					<xs:element ref="CONTEXT_9"/>
					<xs:element ref="CONTEXT_11"/>
					<xs:element ref="CONTEXT_12"/>
					<xs:element ref="CONTEXT_13"/>
					<xs:element ref="CONTEXT_14"/>
					<xs:element ref="CONTEXT_15"/>
					<xs:element ref="CONTEXT_17"/>
					<xs:element ref="CONTEXT_18"/>
					<xs:element ref="CONTEXT_21"/>
					<xs:element ref="CONTEXT_22"/>
					<xs:element ref="CONTEXT_23"/>
					<xs:element ref="CONTEXT_24"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="CONTEXT_34" minOccurs="0"/>
							<xs:element ref="CONTEXT_20"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="CONTEXT_27"/>
							<xs:element ref="CONTEXT_34" minOccurs="0"/>
							<xs:element ref="CONTEXT_20"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_27">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_24">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_23">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_22">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_21">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="CONTEXT_0"/>
				<xs:element ref="CONTEXT_3"/>
				<xs:element ref="CONTEXT_4"/>
				<xs:element ref="CONTEXT_5"/>
				<xs:element ref="CONTEXT_6"/>
				<xs:element ref="CONTEXT_7"/>
				<xs:element ref="CONTEXT_8"/>
				<xs:element ref="CONTEXT_9"/>
				<xs:element ref="CONTEXT_11"/>
				<xs:element ref="CONTEXT_12"/>
				<xs:element ref="CONTEXT_13"/>
				<xs:element ref="CONTEXT_14"/>
				<xs:element ref="CONTEXT_15"/>
				<xs:element ref="CONTEXT_17"/>
				<xs:element ref="CONTEXT_18"/>
				<xs:element ref="CONTEXT_21"/>
				<xs:element ref="CONTEXT_22"/>
				<xs:element ref="CONTEXT_23"/>
				<xs:element ref="CONTEXT_24"/>
				<xs:element ref="CONTEXT_20"/>
				<xs:element ref="CONTEXT_27"/>
				<xs:element ref="CONTEXT_29"/>
				<xs:element ref="CONTEXT_31"/>
				<xs:element ref="CONTEXT_32"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_20">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_2">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_18">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_17">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_15">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_14">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_13">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_12">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SEQUENCE"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_11">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_10">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="CONTEXT_0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONTEXT_1">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="CONTEXT_0">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="CONTEXT_0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
