XmlToSqlCsharp/Asn1OutXml.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!ELEMENT message ((CONTEXT_21*, CONTEXT_28*))>
<!ELEMENT SEQUENCE (((CONTEXT_2, CONTEXT_3, CONTEXT_4, CONTEXT_5, CONTEXT_6) | (CONTEXT_1, CONTEXT_4, CONTEXT_5, CONTEXT_6, CONTEXT_8, CONTEXT_9, CONTEXT_10, CONTEXT_11?, CONTEXT_12, CONTEXT_13, CONTEXT_14, CONTEXT_17)))>
<!ELEMENT CONTEXT_9 (#PCDATA | CONTEXT_0)*>
<!ELEMENT CONTEXT_8 (#PCDATA)>
<!ELEMENT CONTEXT_7 (#PCDATA)>
<!ELEMENT CONTEXT_6 (#PCDATA | CONTEXT_0)*>
<!ELEMENT CONTEXT_5 (#PCDATA)>
<!ELEMENT CONTEXT_4 (#PCDATA | CONTEXT_0)*>
<!ELEMENT CONTEXT_34 ((SEQUENCE+))>
<!ELEMENT CONTEXT_32 (#PCDATA)>
<!ELEMENT CONTEXT_31 (#PCDATA)>
<!ELEMENT CONTEXT_3 (#PCDATA)>
<!ELEMENT CONTEXT_29 (#PCDATA)>
<!ELEMENT CONTEXT_28 ((CONTEXT_0, CONTEXT_3, CONTEXT_4, CONTEXT_5, CONTEXT_6, CONTEXT_7, CONTEXT_8, CONTEXT_9, CONTEXT_11, CONTEXT_12, CONTEXT_13, CONTEXT_14, CONTEXT_15, CONTEXT_17, CONTEXT_18, CONTEXT_21, CONTEXT_22, CONTEXT_23, CONTEXT_24, ((CONTEXT_34?, CONTEXT_20) | (CONTEXT_27, CONTEXT_34?, CONTEXT_20))))>
<!ELEMENT CONTEXT_27 (#PCDATA)>
<!ELEMENT CONTEXT_24 (#PCDATA)>
<!ELEMENT CONTEXT_23 (#PCDATA)>
<!ELEMENT CONTEXT_22 (#PCDATA)>
<!ELEMENT CONTEXT_21 (#PCDATA | CONTEXT_0 | CONTEXT_3 | CONTEXT_4 | CONTEXT_5 | CONTEXT_6 | CONTEXT_7 | CONTEXT_8 | CONTEXT_9 | CONTEXT_11 | CONTEXT_12 | CONTEXT_13 | CONTEXT_14 | CONTEXT_15 | CONTEXT_17 | CONTEXT_18 | CONTEXT_21 | CONTEXT_22 | CONTEXT_23 | CONTEXT_24 | CONTEXT_20 | CONTEXT_27 | CONTEXT_29 | CONTEXT_31 | CONTEXT_32)*>
<!ELEMENT CONTEXT_20 (#PCDATA)>
<!ELEMENT CONTEXT_2 (#PCDATA)>
<!ELEMENT CONTEXT_18 (#PCDATA)>
<!ELEMENT CONTEXT_17 (#PCDATA)>
<!ELEMENT CONTEXT_15 (#PCDATA)>
<!ELEMENT CONTEXT_14 (#PCDATA)>
<!ELEMENT CONTEXT_13 (#PCDATA)>
<!ELEMENT CONTEXT_12 (#PCDATA | SEQUENCE)*>
<!ELEMENT CONTEXT_11 (#PCDATA)>
<!ELEMENT CONTEXT_10 ((CONTEXT_0))>
<!ELEMENT CONTEXT_1 (#PCDATA)>
<!ELEMENT CONTEXT_0 (#PCDATA | CONTEXT_0)*>
